body{
	background: #000;

}

.form-holder{
	width: 500px;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
 	color: #f00;
<<<<<<< HEAD
	
=======

}

#username_id{
	height: 30px;
	width: 300px;
	margin-top: 10px;
}

#password_id{
	height: 30px;
	width: 300px;
	margin-top: 5px;
}

input[type=submit] {
  height: 50px;
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
}

#reset_id{
	height: 50px;
	width: 100px;
	margin-top: 10px;
}

.form-group{
	margin-left: 50px;
>>>>>>> 81eb3d2ebfbce93db30a0263a6ad04eeb63d7293
}

h3 {
	color: green;
}

.form-holder input#username_id {
	height: 200px;
}
.form-holder input#password_id{
	height: 200px;
}