body{
	background: #000;

}

.form-holder{
	width: 500px;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
 	color: #f00;
	
}

h3 {
	color: green;
}

.form-holder input#username_id {
	height: 200px;
}
.form-holder input#password_id{
	height: 200px;
}